@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in your global styles or a CSS file */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #474747;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
